.ant-layout-header {
  background: white !important;
  /* border-left: 10px solid #fbe6cb; */
}

.custom-button:focus {
  outline: 0px;
}

/*  */
.logo {
  float: left;
  width: 150px;
  margin: -3px 0px 0px -40px;
}

.logo img {
  width: 100%;
  margin-right: 0px;
}

/*  */

@media screen and (max-width: 660px) {
  .avatar-profile {
    /* display: none !important; */
    width: 25px !important;
    height: 25px !important;
    top: 4px !important;
    left: 0 !important;
  }
}
