.login-form-bg {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('../src/assets/img/background.jpg');
  background-size: cover;
}
.right-form-login h1 {
  font-size: 30px;
}
.form-login {
  background: #fff;
  border-radius: 10px;
  width: 80vw;
  height: 85vh;
  margin-top: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: auto;
}
.logo-form-login .img-logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.left-image-form {
  margin-top: -10px;
}
.left-image-form .image-login img {
  height: 355px;
  width: 500px;
}
.right-form-login .title-login {
  font-weight: bold;
}
.left-image-form .right-form-login .text-welcome {
  font-size: 14px;
  margin-right: 40px;
  line-height: 1.2rem;
}

/* Form input email and password */
.right-form-login .form-email-password {
  margin-top: 25px;
}

.right-form-login .form-email-password input {
  height: 40px;
  text-indent: 15px;
}

.right-form-login .button-login {
  width: 100%;
  margin-top: 25px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.right-form-login .button-login:hover {
  background-color: #7fffd4;
  color: #000;
  text-decoration: none;
  outline: none;
}
.right-form-login .button-login:focus {
  outline: none;
}

/* Login other method */

.login-other-method {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 12px;
}
.login-other-method .text-other-method {
  font-size: 14px;
  color: rgb(112, 112, 112);
}
.login-other-method .icons-method img {
  width: 30px;
  height: 30px;
  padding-left: 0;
  padding-top: 0;
}

.ant-form-item-explain-error {
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Responsive form login of website */
@media (min-width: 1247px) and (max-width: 1350px) {
  .left-image-form .image-login img {
    height: 400px;
    width: 380px;
  }
}
@media (min-width: 1201px) and (max-width: 1246px) {
  .form-login {
    background: #fff;
    border-radius: 35px;
    width: 65vw;
    height: 90vh;
    margin-top: 65px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 60px;
  }
  .logo-form-login .img-logo {
    width: 80px;
    height: 80px;
  }
  .left-image-form .image-login img {
    height: 400px;
    width: 380px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .logo-form-login .img-logo {
    width: 60px;
    height: 60px;
  }
  .form-login {
    width: 65vw;
    height: 90vh !important;
  }
  .right-form-login .title-login {
    font-weight: bold;
    font-size: 30px;
  }
  .left-image-form .image-login img {
    height: 380px;
    width: 320px;
    padding-right: 0px;
  }
  .link-change-password {
    max-width: 100% !important;
    margin-left: 25px;
  }
}
@media (min-width: 920px) and (max-width: 991px) {
  .logo-form-login .img-logo {
    width: 50px;
    height: 50px;
  }
  .left-image-form .image-login img {
    height: 350px;
    width: 300px;
  }
  .right-form-login {
    padding-right: 10px !important;
  }
  .right-form-login .title-login {
    font-weight: bold;
    font-size: 28px;
  }
  .left-image-form .right-form-login .text-welcome {
    font-size: 12px;
  }
  .right-form-login .form-email-password input {
    height: 33px;
    font-size: 13px;
  }
  .checkbox-remember-me {
    font-size: 12px !important;
    padding-inline-end: 0 !important;
  }
  .checkbox-remember-me span {
    padding-inline-end: 0 !important;
  }
  .link-change-password {
    font-size: 12px !important;
    margin-top: 10px;
    max-width: 100% !important;
    margin-left: 25px;
  }
}
@media (max-width: 919px) {
  .logo-form-login {
    margin-bottom: 30px;
  }
  .login-form-bg .form-login .left-image-form .col-image-login {
    display: none;
  }
  .login-form-bg .form-login .left-image-form .right-form-login {
    flex: none;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo-form-login .img-logo {
    width: 50px;
    height: 50px;
  }
  .right-form-login .title-login {
    font-size: 28px;
  }
  .left-image-form .right-form-login .text-welcome {
    text-align: center;
    font-size: 12px;
    margin-right: 0px;
  }
  .right-form-login .form-email-password input {
    height: 35px;
    font-size: 12px;
  }
  .right-form-login .button-login {
    width: 100%;
  }
  .link-change-password {
    font-size: 12px !important;
  }
  .checkbox-remember-me {
    font-size: 12px !important;
  }
}
@media (max-width: 466px) {
  .link-change-password {
    max-width: 100% !important;
    margin-left: 25px;
  }
  .col-checkbox {
    max-width: 100% !important;
  }
}
@media (max-width: 356px) {
  .form-login {
    width: 65vw;
    height: 75vh;
  }
  .right-form-login .title-login {
    font-size: 24px;
  }
  .left-image-form .right-form-login .text-welcome {
    display: none;
  }
}
