.title-login{
    text-align: center;
    margin-bottom: 0.75em !important;
    font-weight: bold !important;
}
.form-input{
    margin-top: 20px;
}
.button-create-group{
    outline: none;
    font-weight: bold;
}
.button-create-group:hover{
    background-color: #7FFFD4 !important;
    color: #000 !important;
    text-decoration: none !important; 
    outline: none !important;
}
.button-create-group:focus{
    outline: none !important;
}
