.row {
  width: 1000px;
}
.section1 {
  padding-bottom: 20px;
}
.title {
  font-size: 28px !important;
}

@media (max-width: 576px) {
  .col-title {
    display: none;
  }
}

ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  justify-content: center !important;
}
