@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Poppins:wght@400;500&display=swap');

* {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ant-breadcrumb {
  margin: 10px 0px !important;
  padding: 18px 25px 18px 25px;
  background-color: white;
}

.ant-btn-primary {
  background-color: #12131a;
}

.ant-pagination-item {
  border: none !important;
}

.ant-pagination-item a {
  color: black !important;
  border: 1px solid #d9d9d9 !important;
  background-color: white;
  border-radius: 5px !important;
}

ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  justify-content: center !important;
  margin: 25px 0 0 0 !important;
}

.ant-space-item svg {
  color: black !important;
}

.ant-radio-inner {
  background-color: #12131a !important;
  border-color: #12131a !important;
}

.ant-layout-content {
  margin: 0px 10px !important;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
