.ant-layout-sider-trigger {
    background: #fbe6cb !important;
}

.ant-layout-sider-trigger:hover {
    background:  #c29252 !important;
    color: aliceblue !important;
}

@media screen and (max-width: 1200px){
    .ant-layout-sider-trigger {
        display: none;
    }
}
