.ant-layout-sider-trigger {
  background: #12131a !important;
  border-radius: 100%;
  margin-left: 173px;
  margin-bottom: 20px;
  width: 50px !important;
  border: 1px solid rgba(250, 250, 250, 0.14);
  top: 55px;
  position: absolute;
}

.ant-layout-sider-collapsed .ant-layout-sider-trigger {
  margin-left: 52px;
  margin-bottom: 20px;
  border: 1px solid #fafafa24;
}

.ant-layout-sider-trigger:hover {
  background: white !important;
  color: #12131a !important;
}

@media screen and (min-width: 1200px) {
  .ant-layout-sider-has-trigger .ant-layout-sider-children .ant-btn-primary {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .ant-layout-sider-trigger {
    display: none;
  }

  .ant-layout-sider-has-trigger .ant-layout-sider-children .ant-btn-primary {
    position: absolute;
    bottom: 25px;
    right: 18px;
    background-color: #fafafa24;
    height: 45px;
    border-radius: 50px;
    box-shadow: none;
  }
}
